---
global:
  repository: {{ repository }}
  flavor: {{ onap_flavor }}
  masterPassword: gatingPassword
appc:
  config:
    enableClustering: false
    openStackType: "OpenStackProvider"
    openStackName: "OpenStack"
    openStackKeyStoneUrl: {{ os_auth_url }}
    openStackServiceTenantName: {{ openstack_service_tenant_name }}
    openStackDomain: {{ clouds[openstack_user_name].auth.user_domain_name | default('Default') }}
    openStackUserName: {{ openstack_user_name }}
    openStackEncryptedPassword: "{{ encrypted_password }}"
nbi:
  config:
    openStackRegion: {{ clouds[openstack_user_name].region_name }}
    openStackVNFTenantId: {{ tenant_id }}
    cloudOwner: {{ details.pod_owner }}
robot:
  config:
    openStackEncryptedPasswordHere: "{{ robot_encrypted_password }}"
so:
  so-catalog-db-adapter:
    config:
      openStackUserName: {{ openstack_user_name }}
      openStackRegion: {{ clouds[openstack_user_name].region_name }}
      openStackKeyStoneUrl: {{ os_auth_url }}
      openStackServiceTenantName: {{ openstack_service_tenant_name }}
      openStackEncryptedPasswordHere: "{{ encrypted_password }}"
      openStackTenantId: {{ tenant_id }}
      openStackKeystoneVersion: "KEYSTONE_V3"
      openStackProjectDomainName:
        {{ clouds[openstack_user_name].auth.user_domain_name | default('Default') }}
      openStackUserDomainName:
        {{ clouds[openstack_user_name].project_domain_name | default('Default') }}
  so-mariadb:
    config:
      # gerrit branch where the latest heat code is checked in
      gerritBranch: {{ branch }}
