---
global:
  soBaseImage: orange-opensource/lfn/onap/build-so/base-image:1.0
so:
  repositoryOverride: registry.gitlab.com
  image: orange-opensource/lfn/onap/build-so/api-handler-infra:{{ gerrit_review }}-{{ gerrit_patchset }}
  soHelpers:
    certInitializer:
      repositoryOverride: {{ repository }}
  so-appc-orchestrator:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/so-appc-orchestrator:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-bpmn-infra:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/bpmn-infra:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-catalog-db-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/catalog-db-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-cnf-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/mso-cnf-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-etsi-nfvo-ns-lcm:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/so-etsi-nfvo-ns-lcm:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-monitoring:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/so-monitoring:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-nssmf-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/nssmf-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-oof-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/so-oof-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-openstack-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/openstack-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-request-db-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/request-db-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-sdc-controller:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/sdc-controller:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-sdnc-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/sdnc-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-ve-vnfm-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/ve-vnfm-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-vfc-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/vfc-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
  so-vnfm-adapter:
    repositoryOverride: registry.gitlab.com
    image: orange-opensource/lfn/onap/build-so/vnfm-adapter:{{ gerrit_review }}-{{ gerrit_patchset }}
    soHelpers:
      certInitializer:
        repositoryOverride: {{ repository }}
